<div class="group column">
  <p class="igx-typography__body-2 text">EXTENSIONS</p>
  <igx-list class="list">
    <igx-list-item [isHeader]="false" class="list-item">
      <span igxListThumbnail>
        <igx-avatar initials="A" [roundShape]="true" size="small" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Angular Language Service</span>
      <span igxListLineSubTitle>Editor services for Angular templates</span>
      <span igxListAction>
        <igx-icon family="material" class="icon">settings</igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false" class="list-item">
      <span igxListThumbnail>
        <igx-avatar initials="ES" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>ESLint</span>
      <span igxListLineSubTitle>Integrates ESLint JavaScript into VS Code</span>
      <span igxListAction>
        <igx-icon family="material" class="icon">settings</igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false" class="list-item">
      <span igxListThumbnail>
        <igx-avatar initials="P" [roundShape]="true" size="small" class="avatar_2"></igx-avatar>
      </span>
      <span igxListLineTitle>Prettier - Code Formatter</span>
      <span igxListLineSubTitle>Code formatter using prettier</span>
      <span igxListAction>
        <igx-icon family="material" class="icon">settings</igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
