<div class="group column">
  <p class="igx-typography__body-2 text">SEARCH</p>
  <igx-input-group type="border" class="input">
    <igx-suffix>
      <p class="igx-typography__body-1 text_2">Aa</p>
      <p class="igx-typography__body-1 text_1">ab</p>
      <igx-icon family="material" class="icon">brightness_high</igx-icon>
    </igx-suffix>
    <input type="text" igxInput />
    <label igxLabel>Search</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_1">
    <input type="text" igxInput />
    <label igxLabel>Replace</label>
  </igx-input-group>
</div>
